body
{
    margin: 0;
    padding: 0;
    
}

.d1
{
    background-color: pink;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    height: 100px;
}
.d2
{
    background-color: aqua;
    width: 50%;
    margin-left: 25%;
    height: 300px;
    text-align: center;
}
.d3{
    background-color: blue;
    width: 50%;
    height: 100px;
    margin-left: 25%;
}